
.parent{
  background-color: #3d4463;
}
.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #3d4463;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.display {
  margin-top: 10px;
  margin-bottom: 20px;
}
.numb{
  color: white;
  display: flex;
  margin-right: 20px;
  justify-content: right;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 10px;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.theme {
  display: flex;
  color: white;
  column-gap: 10px;
}

.theme span {
  margin-right: 10px;
  font-size: 11px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #131833;
  transition: .4s;
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: red;
  transition: .4s;
}


.calculator-screen {
  width: 93%;
  height: 30px;
  background-color: #0d0033;
  color: #fff;
  font-size: 24px;
  text-align: right;
  border: none;
  padding: 10px;
  border-radius: 5px;
}


.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  padding: 20px;

}

.btn-container{
  background-color:#0d0033
}

.calculator-controls {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  height: 50px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-del {
  background-color: #6778a7;
  color: white;
}
.btn-del:hover {
  background-color: #6778a7;
}

.btn-reset {
  background-color: #6778a7;
  color: white;
}

.btn-reset:hover {
  background-color: #6778a7;
}

.btn-equals {
  background-color: #d03f2f;
  color: white;
}

input[type="text"] {
  font-family: 'Courier New', Courier, monospace;
}
